.cartDisplay{
    width: 80%;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.cartDisplay div {
    display: flex;
    align-items: center;
}
.cartDisplay div p {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform:uppercase;
    color: #1D7185;
}

.cartDisplay div button{
    cursor: pointer;
    background-color: #F7BF37;
    border: none;
    padding: 15px 30px;
    color: #1D7185;
    border-radius: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}
.cartDisplay div button:hover{
    background-color: #c49c40;
    color: #0E3A45;
}